body {
    background-image: url("https://raw.githubusercontent.com/6859-sp21/final-project-discover_boston_crime/main/title-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  Helvetica, sans-serif;
}

#title h1, #title h4{
    text-align: center;
    max-width: 100%;
    margin-bottom: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}
.column#video {
    width: 25%;
    align-items: left;
    padding: 0;
    margin: 0;
}

#video p{
    font-size: 2vw;
    color: white;
    background-color: black;
    font-weight: bold;
    text-align: center;
}

#video-embed {
    width: 100%;
}

.column#title {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title h1{
    font-size: 4vw;
    max-width: 80%;
}

#title h4{
    font-size: 2vw;
}

#paper {
    height: 50%;
    overflow: scroll;
    background-color: black;
    color: white;
}


#abstract {
    text-align: center;
}


.column#paper {
    width: 25%;
}
#paper a, #paper p{
    color: white;
    text-align: left;
}

#visualization {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#visualization a {
    color: black;
    font-size: 1.5vw;
}

#visualization img{
    width: 60%;
}








