#point-tooltip, #district-tooltip, #bar-tooltip{
    position: absolute;
    pointer-events: none;
}

body {
    padding: 2em;
}

.bar-viz {
    padding: 2em;
    overflow: visible !important;
    box-sizing: initial !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}