html {
  scroll-behavior: smooth;
}

#bar-tooltip, #district-tooltip {
    position: absolute;
    pointer-events: none;
    border-radius: 5%;
    background-color: bisque;
    border: 1px solid black;
}

.crimePoints {
    pointer-events: none;
}

.bar-viz {
    padding: 2em;
    overflow: visible !important;
    box-sizing: initial !important;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#bar-tooltip p,  #district-tooltip p {
    padding: 5px 7.5px;
    margin: 0;
}

.nav-link, .district {
    cursor: pointer;
}

h1 {
    padding: 0.25em 0em 0.25em 0;
}

.italics {
    font-style: italic;
}

/* scrolly css */

#scrolly {
    position: relative;
}

/* .step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
} */

.step > * {
    width: 100%
}

/* .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
} */

.extra-padding {
    padding: 10em 0em;
}

.description {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

.disparity-table {
    width: 75%;
}

tr {
    padding: 15px;
    text-align: left;
    font-size: 24px;
}

.list p {
    margin: 0;
    padding: .1em 0em !important;
    font-size: 24px;
}

.row.list {
    justify-content: space-evenly;
}


.list li {
    margin: 0;
    padding: 0 !important;
    font-size: 24px;
}

article {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    width: 25%;
}

/* neighborhoods per district */

#neighborhoods-per-district {
    display: flex;
    position: relative;
}

#neighborhoods-per-district svg {
    position: sticky;
    top: 0px;
}

#neighborhoods-per-district .description {
    position: relative;
    /* box-shadow: 10px 10px goldenrod; */
}

#neighborhoods-per-district #police-districts-list {
    display: flex;
}

#police-districts-list {
    justify-content: space-around;
}

#police-districts-list div {
    width: 33%;
}

#police-districts-neighborhoods svg {
    overflow: visible !important;
}

/* choropleth */

#map-choropleth svg {
    overflow: visible;
}

.hidden {
    display: none;
}

#title-page {
    background-color: lightblue;
    background-image: url("https://raw.githubusercontent.com/6859-sp21/final-project-discover_boston_crime/main/title-image.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #242526;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

#title-page h1 {
    max-width: 40%;
    font-size: 72px;
}

.section-1 {
    height: 100vh;
    width: 100%;
}

.section-2 {
    height: 10vh;
    width: 100%;
}

.section-3 {
    display: flex;
}

.section-3 .description {
    width: 29.5%;
}

.section-3 .description {
    background-color: #3a3b3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-3 .visualization {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.section-3 .visualization p {
    padding: 2em 0em;
}

@keyframes show-vis {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.visualization.visualization-active {
     /* Shows the element… */
    visibility: visible;
    /* …and animates it */
    animation: show-vis 2.5s ease-out;
}

#neighborhoods-map {
    align-items: flex-start;
}

.district-button {
    cursor: pointer;
    /* border-radius: 10%; */
}

.district-button.active {
    opacity: 0.8;
    background-color: whitesmoke;
    color: black;
}

.overflow-show {
    overflow: visible !important;
}








