#bar-tooltip, #point-tooltip, #district-tooltip  {
    position: absolute;
    pointer-events: none;
}

.crimePoints {
    pointer-events: none;
}

body {
    padding: 0em 3em;
}

.bar-viz {
    padding: 2em;
    overflow: visible !important;
    box-sizing: initial !important;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.tooltipp {
    margin: 0,0,0,0;
}

.nav-link, .district {
    cursor: pointer;
}

h1 {
    padding: 0.25em 0em 0.25em 0;
}

.italics {
    font-style: italic;
}

/* scrolly css */

#scrolly {
    position: relative;
}

.step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
}

.step {
    margin: 2rem auto 4rem auto;
    background-color: #3b3b3b;
    color: #fff;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

article {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    width: 33%;
}

/* neighborhoods per district */

#neighborhoods-per-district {
    display: flex;
    position: relative;
}

#neighborhoods-per-district svg {
    position: sticky;
    top: 30px;
}

#neighborhoods-per-district .description {
    position: relative;
}


/* choropleth */

#map-choropleth svg {
    overflow: visible;
}
